.header {
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 130px;
  background-color: #00274c;
  /* height: 400px;
    width: 100%; */
  /* background-image:url('https://news.fullerton.edu/app/uploads/2021/04/campus-gateway.jpeg'); */
}

.header_logo {
  width: 200px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 10px;
}

.header_search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header_searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header_nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 20px;
  column-gap: 1em;
  color: white;
}
