.home_Container {
  /* background-color: #e17000; */
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.home_Row {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid;
  margin-top: 20px;
  width: 50%;
}

.homepage_image {
  display: block;
  align-content: center;
  margin-right: 10px;
  width: 100%;
}
